In [1]:
import pandas as pd
import numpy as np

# 1. Loading datasets to create dataframe with yearly data

In [40]:
def read_file(filename):
	return pd.read_excel(filename)

# Get all filesnames under parent folder data
import os
files = os.listdir('../data')
files = [f for f in files if f.endswith('.xlsx')]

# Create a dataframe for each file, with the same name as the file
for f in files:
    globals()[f.split('.')[0]] = read_file('../data/' + f)
    
# Create a dictionary with the dataframes
data = {f.split('.')[0]: globals()[f.split('.')[0]] for f in files}

# Print all the dataframe names
print(data.keys())

dict_keys(['field_activity_status_hst', 'field_operator_hst', 'Emissions_oil', 'Field_licensee_ownerships', 'Reservoir_2023_NorskPetroleum', 'Fields_NorskPetroleum', 'Emissions_methane', 'Emissions_CO2', 'Emissions_water', 'Emissions_NOX'])

## 1.1. Checking the Emissions_CO2 dataset

In [41]:
Emissions_CO2

,Karbondioksid (CO2),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Anleggsnavn,Fylke,Kommune,År,Årlig utslipp til luft,Grunnlagsverdi for luft,Årlig utslipp til vann,Grunnlagsverdi for vann,Årlig utslipp til undergrunn,Enhet,Org.nr.
2,Grane (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2022,180.655154,NaN,NaN,NaN,NaN,1000 tonn,993246298
3,Grane (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2023,188.26798,NaN,NaN,NaN,NaN,1000 tonn,993246298
4,Norne (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,1997,761.336994,NaN,NaN,NaN,NaN,1000 tonn,893246592
...,...,...,...,...,...,...,...,...,...,...,...
1314,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2018,72.503572,NaN,NaN,NaN,NaN,1000 tonn,912731456
1315,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2019,177.647453,NaN,NaN,NaN,NaN,1000 tonn,912731456
1316,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2020,192.207951,NaN,NaN,NaN,NaN,1000 tonn,912731456
1317,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2021,191.436769,NaN,NaN,NaN,NaN,1000 tonn,912731456
1318,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2022,192.895469,NaN,NaN,NaN,NaN,1000 tonn,912731456

In [42]:
# Make first row the header
Emissions_CO2.columns = Emissions_CO2.iloc[1]

# Drop the first row
Emissions_CO2 = Emissions_CO2.drop([0,1])
Emissions_CO2

1,Anleggsnavn,Fylke,Kommune,År,Årlig utslipp til luft,Grunnlagsverdi for luft,Årlig utslipp til vann,Grunnlagsverdi for vann,Årlig utslipp til undergrunn,Enhet,Org.nr.
2,Grane (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2022,180.655154,NaN,NaN,NaN,NaN,1000 tonn,993246298
3,Grane (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2023,188.26798,NaN,NaN,NaN,NaN,1000 tonn,993246298
4,Norne (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,1997,761.336994,NaN,NaN,NaN,NaN,1000 tonn,893246592
5,Norne (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,1998,418.303952,NaN,NaN,NaN,NaN,1000 tonn,893246592
6,Norne (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,1999,347.05988,NaN,NaN,NaN,NaN,1000 tonn,893246592
...,...,...,...,...,...,...,...,...,...,...,...
1314,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2018,72.503572,NaN,NaN,NaN,NaN,1000 tonn,912731456
1315,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2019,177.647453,NaN,NaN,NaN,NaN,1000 tonn,912731456
1316,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2020,192.207951,NaN,NaN,NaN,NaN,1000 tonn,912731456
1317,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2021,191.436769,NaN,NaN,NaN,NaN,1000 tonn,912731456
1318,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2022,192.895469,NaN,NaN,NaN,NaN,1000 tonn,912731456

In [43]:
# Drop all columns with all NaN values
Emissions_CO2 = Emissions_CO2.dropna(axis=1, how='all')

Emissions_CO2

1,Anleggsnavn,Fylke,Kommune,År,Årlig utslipp til luft,Enhet,Org.nr.
2,Grane (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2022,180.655154,1000 tonn,993246298
3,Grane (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2023,188.26798,1000 tonn,993246298
4,Norne (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,1997,761.336994,1000 tonn,893246592
5,Norne (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,1998,418.303952,1000 tonn,893246592
6,Norne (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,1999,347.05988,1000 tonn,893246592
...,...,...,...,...,...,...,...
1314,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2018,72.503572,1000 tonn,912731456
1315,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2019,177.647453,1000 tonn,912731456
1316,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2020,192.207951,1000 tonn,912731456
1317,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2021,191.436769,1000 tonn,912731456
1318,Aasta hansteen (Equinor energy as),Kontinentalsokkelen,Kontinentalsokkelen,2022,192.895469,1000 tonn,912731456

In [46]:
# Checking all uniqe Anleggsnavn

Emissions_CO2['Anleggsnavn'].unique()

array(['Grane (Equinor energy as)', 'Norne (Equinor energy as)',
       'Statfjord (Equinor energy as)', 'Snorre (Equinor energy as)',
       'Oseberg (Equinor energy as)', 'Veslefrikk (Equinor energy as)',
       'Volve (Equinor energy as)', 'Skarv (Aker bp asa)',
       'Vale (Sval energi as)', 'Vigdis (Equinor energy as)',
       'Hod (Aker bp asa)', 'Statfjord nord (Equinor energy as)',
       'Statfjord øst (Equinor energy as)', 'Sygna (Equinor energy as)',
       'Oseberg sør (Equinor energy as)',
       'Oseberg øst (Equinor energy as)', 'Jotun (Vår energi asa)',
       'Heimdal (Equinor energy as)',
       'Skirne (Totalenergies ep norge as)', 'Vilje (Aker bp asa)',
       'Alve (Equinor energy as)', 'Rev (Repsol norge as)',
       'Vega (Wintershall dea norge as)', 'Oselvar (Dno norge as)',
       'Goliat (Vår energi asa)', 'Yme (Repsol norge as)',
       'Morvin (Equinor energy as)', 'Draupner (Gassco as)',
       'Troll (Equinor energy as)', 'Gullfaks (Equinor energy as)',
       'Fram (Equinor asa)', 'Brage (Okea asa)', 'Trym (Dno norge as)',
       'Gaupe (A/s norske shell)', 'Knarr (A/s norske shell)',
       'Marulk (Vår energi asa)', 'Gudrun (Equinor energy as)',
       'Valhall (Aker bp asa)', 'Sleipner vest (Equinor energy as)',
       'Gyda (Repsol norge as)', 'Tune (Equinor energy as)',
       'Mikkel (Equinor energy as)', 'Yttergryta (Equinor energy as)',
       'Tyrihans (Equinor energy as)', 'Volund (Aker bp asa)',
       'Urd (Equinor energy as)', 'Tambar (Aker bp asa)',
       'Huldra (Equinor energy as)', 'Gullfaks sør (Equinor energy as)',
       'Tordis (Equinor energy as)',
       'Eldfisk (Conocophillips skandinavia as)',
       'Balder (Vår energi asa)', 'Glitne (Equinor energy as)',
       'Åsgard (Equinor energy as)', 'Njord (Equinor energy as)',
       'Heidrun (Equinor energy as)', 'Ula (Aker bp asa)',
       'Aasta hansteen (Equinor energy as)',
       'Fenja (Vår energi norge as)', 'Solveig (Aker bp asa)',
       'Dvalin (Wintershall dea norge as)',
       'Johan castberg (Equinor energy as)',
       'Kristin (Equinor energy as)', 'Alvheim (Aker bp asa)',
       'Varg (Repsol norge as)',
       'Ekofisk (Conocophillips skandinavia as)',
       'Embla (Conocophillips skandinavia as)',
       'Tor (Conocophillips skandinavia as)',
       'Sleipner øst (Equinor energy as)', 'Sigyn (Equinor energy as)',
       'Snøhvit (Equinor energy as)', 'Brynhild (Aker bp asa)',
       'Jette (Aker bp asa)', 'Valemon (Equinor energy as)',
       'Atla (Totalenergies ep norge as)', 'Skuld (Equinor energy as)',
       'Svalin (Equinor energy as)', 'Ormen lange (A/s norske shell)',
       'Martin linge (Equinor energy as)', 'Edvard grieg (Aker bp asa)',
       'Gina krog (Equinor energy as)', 'Draugen (Okea asa)',
       'Visund (Equinor energy as)', 'Kvitebjørn (Equinor energy as)',
       'Gjøa (Vår energi norge as)', 'Ivar aasen (Aker bp asa)',
       'Bøyla (Aker bp asa)', 'Johan sverdrup (Equinor energy as)',
       'Maria (Wintershall dea norge as)'], dtype=object)